.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 3s 3s;
    animation-fill-mode: forwards;
    min-width: 10px;
}
    .text-animate-hover {
        min-width: 10px;
        display: inline-block;
        animation-fill-mode: both;

        &:hover {
            animation: fadeIn 3s;
            color: #020a2b;

        }
    }



@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;
    }
}